# top-most EditorConfig file
root = true

# Default settings for all files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2
max_line_length = 80

# JavaScript and TypeScript files
[*.{js,jsx,ts,tsx,json}]
indent_style = space
indent_size = 2
quote_type = single

# Markdown files
[*.md]
trim_trailing_whitespace = false
