**/*.map
**/*.ts
**/.vscode-test.*
**/eslint.config.mjs
**/tsconfig.json
.gitignore
.vscode
.vscode-test/**
.vscode/**
.yarnrc
TODO.md
esbuild.js
knip.config.js
node_modules
out/
src/
tsconfig.json
vsc-extension-quickstart.md
